<div class="container text-center">
  <div class="row">
    <h2>Add Note</h2>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" placeholder="Title">
          <label for="title">Title</label>
        </div>
        <select class="form-select mb-3" [(ngModel)]="tag" name="tag">
          <option selected disabled value="text-bg-light">Choose tag</option>
          <option value="text-bg-light" class="text-bg-light">Normal</option>
          <option value="text-bg-danger" class="text-bg-danger">Urgent</option>
          <option value="text-bg-info" class="text-bg-info">Info</option>
        </select>
        <div class="form-floating mb-3">
          <textarea class="form-control" [(ngModel)]="content" name="content" id="content" placeholder="Content"></textarea>
          <label for="content">Content</label>
        </div>
        <button *ngIf="!loaded" class="btn btn-danger disabled me-3">Clear</button>
        <button (click)="resetInput()" *ngIf="loaded" class="btn btn-danger me-3" placement="bottom" ngbTooltip="Can also clear inputs using Closed Hand gesture.">Clear</button>
        <button *ngIf="!loaded" class="btn btn-primary disabled">Add</button>
        <button (click)="addNote()" *ngIf="loaded" class="btn btn-primary" placement="bottom" ngbTooltip="Can also add note using Two Open Hands gesture.">Add</button>
      </form>
    </div>
    <div class="col sticky-top">
      <app-handtracker (onPrediction)="prediction($event)" (finishedLoading)="loading($event)"></app-handtracker>
    </div>
  </div>
</div>