<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>Notes</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-end">
      <button *ngIf="!loaded" class="btn btn-primary disabled placeholder col-3"></button>
      <button *ngIf="loaded" (click)="undoOne()" class="btn btn-primary" placement="start" ngbTooltip="Can also undo using One Open Hand and One Hand Pointing gesture.">Undo One Delete</button>
    </div>
    <div class="col text-start">
      <button *ngIf="!loaded" class="btn btn-danger disabled placeholder col-2"></button>
      <button *ngIf="loaded" (click)="deleteAll()" class="btn btn-danger" placement="end" ngbTooltip="Can also delete all using Two Closed Hands gesture.">Delete All</button>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="loaded">
      <div *ngFor="let note of notes" class="card {{note.tag}} mb-3" (click)="toEditNote(note.id)">
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{note.dateString()}}</h6>
          <p class="card-text">{{note.content}}</p>
          <button (click)="deleteNote(note)" type="button" class="btn btn-warning" placement="end" ngbTooltip="Can also delete first note using One Closed Hand and One Open Hand gesture.">Delete</button>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="!loaded && notes.length > 0">
      <div class="card">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <h6 class="card-subtitle placeholder-glow">
          <span class="placeholder col-5"></span>
        </h6>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
        <button class="btn btn-warning disabled placeholder col-3"></button>
      </div>
    </div>
    <div class="col text-center">
      <div class="sticky-top">
        <app-handtracker (onPrediction)="prediction($event)" (finishedLoading)="loading($event)"></app-handtracker>
      </div>
    </div>
  </div>
</div>





